footer {
  background: $cor-secundaria;
  padding: 24px 0;
  color: $branco;
  a {
    color: $branco;
    &:hover {
      color: $branco;
    }
  }
  h4 {
    color: $cor-primaria;
    font-size: 20px;
  }
}
