@media (max-width: 375px) {
  .banners-promocionais-statico {
    .banners-promocionais-statico-12x,
    .banners-promocionais-statico-todo-br {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    form {
      margin: 16px;
    }
    ul {
      margin-top: 16px;
    }
  }
  #banners-Promocionais {
    display: none;
  }
  .produtos-container img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  header {
    ul {
      li {
        margin: 8px;
      }
    }
  }
}
